$font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.sub-wrapper-user{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    overflow: auto;
}

.user-wrapper{
    display: flex;
    width: 50em;
    height: 10em;
    padding: 2em;
    padding-top: 0;
    margin-top: 2em;
    border-bottom: 1px solid lightgrey;
    & img{
        width: 10em;
        height: 10em;
        border-radius: 50%;
    }
    &-info{
        margin-left: 5em;
        &-user{
            display: flex;
            &-username{
                font-size: 1.4rem;
            }
        }
        &-data{
            margin-top: 1.5em;
            display: flex;
            font-size: 1.1rem;
            &-posts{
                & span{
                    font-weight: 500;
                }
            }
            &-likes{
                margin-left: 1em;
                & span{
                    font-weight: 500;
                }
            }
        }
    }
}

.edit-button{
    margin-left: 1em;
    background-color: lightgrey;
    color: white;
    font-size: 1rem;
    padding: .4em 1em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: $font;
    font-weight: 500;
    &:hover{
        background-color: darkgrey;
    }
}

.posts-wrapper{
    width: 54em;
    display: grid;
    grid-template-columns: repeat(3, 17em);
    grid-auto-rows: 17em;
    gap: 1.5em;
}

.space{
    width: 100%;
    min-height: 5em;
}

.error{
    margin-top: 2em;
    font-size: 1.2rem;
    font-weight: 500;
}

.loading{
    margin-top: 2em;
    font-size: 1.2rem;
    font-weight: 500;
}