$background: rgba(0, 0, 0, 0.5);
$backgroundContent: rgb(255, 255, 255);

.add-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: $background;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    overflow: hidden;
    &-content{
        background-color: $backgroundContent;
        width: 25em;
        border-radius: 10px;
        &-header{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 2.5em;
            border-bottom: 1px solid lightgray;
            &-exit{
                font-size: 1rem;
                position: absolute;
                background-color: transparent;
                border: none;
                left: .5em;
                bottom: .3em;
                cursor: pointer;
                & img{
                    width: 1em;
                }
            }
        }
        &-input{
            height: 3em;
            width: 100%;
            border-bottom: 1px solid lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            & input{
                width: 75%;
                margin-top: .3em;
                margin-left: 2em;
                border: none;
                &:focus{
                    outline: none;
                }
            }
        }
        &-users{
            width: 100%;
            height: 50vh;
            overflow: auto;
        }
    }
}