$backgroundColor: rgb(255, 255, 255);

.sub-wrapper-chat{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.chat-main{
    background-color: $backgroundColor;
    border: 1px solid lightgray;
    height: 95%;
    width: 60em;
    display: flex;
    &-panel{
        min-width: 23em;
        height: 100%;
        border-right: 1px solid lightgray;
        display: flex;
        flex-direction: column;
        &-add{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 500;
            width: 100%;
            min-height: 4em;
            border-bottom: 1px solid lightgray;
            &-conversation{
                position: absolute;
                right: 1em;
                bottom: 1em;
                cursor: pointer;
                & img{
                    width: 1.5em;
                }
            }
        }
        &-conversations{
            width: 100%;
            height: 100%;
            overflow: auto;
        }
    }
    &-messages{
        width: 100%;
        height: 100%;
        &-default{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            img {
                width: 6em;
            }
        }
    }
}