.sub-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
    overflow: auto;
}

.content{
    width: 30em;
    margin-top: 2em;
    &-space{
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
    }
}

.user{
    width: 20em;
    height: 10em;
    margin-top: 4em;
    &-info{
        display: flex;
        align-items: center;
        height: 4em;
        & img{
            width: 4em;
            height: 4em;
            border-radius: 50%;
            margin-right: 1em;
            cursor: pointer;
        }
        &-name{
            font-weight: 500;
            cursor: pointer;
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
    &-credits{
        margin-top: 1.5em;
        font-size: .9rem;
        color: grey;
    }
    @media (max-width: 1265px){
        display: none;
    }
}