$background: rgb(255, 255, 255);
$input: rgb(239, 239, 239);

.search-bar{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 22em;
    background-color: $background;
    left: 5.8em;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 20px 0px 30px -10px lightgrey;
    background-color: $background;
    z-index: 1;
    animation: .5s 1 slideIn;
    &-search{
        min-height: 8.5em;
        border-bottom: 1px solid lightgrey;
        text-align: center;
        & input{
            font-size: .9rem;
            width: 80%;
            padding: .7em .8em;
            border: none;
            background-color: $input;
            border-radius: 10px;
            &:focus{
                outline: none;
            }
        }
        & h2{
            text-align: left;
            padding: 1em;
            margin: 0;
        }
    }
    &-results{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
    }
    &.close{
        animation: .5s 1 slideOut;
    }
}

@keyframes slideIn{
    from{
        left: -10em;
    }
    to{
        left: 5.8em;
    }
}

@keyframes slideOut{
    from{
        left: 5.8em;
    }
    to{
        left: -22em;
    }
}