$hover: rgb(250, 250, 250);

.conv-link{
    width: 100%;
    display: flex;
    padding: .5em 0;
    text-decoration: none;
    color: black;
    & img{
        margin-left: 1em;
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
    &-info{
        margin-left: 1em;
        &-username{
            font-weight: 500;
        }
        &-fullname{
            color: gray;
        }
    }
    &:hover{
        background-color: $hover;
    }
}