$message: rgb(245, 245, 245);

.conversation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-header{
        width: 100%;
        min-height: 4em;
        border-bottom: 1px solid lightgray;
        display: flex;
        align-items: center;
        img {
            height: 2.5em;
            width: 2.5em;
            border-radius: 50%;
            margin-left: 1em;
        }
        &-name{
            font-weight: 500;
            margin-left: 1em;
        }
    }
    &-content{
        position: relative;
        min-height: 0%;
        width: 100%;
        margin-bottom: 4.5em;
        display: flex;
        justify-content: center;
        &-messages{
            width: 100%;
            padding: 0em 1em;
            display: flex;
            flex-direction: column;
            overflow: auto;
            &-me{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                &-content{
                    background-color: $message;
                    border-radius: 15px;
                    padding: 1em;
                    margin: 1em 0em;
                    max-width: 15em;
                    overflow-wrap: break-word;
                }
            }
            &-person{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                &-content{
                    background-color: $message;
                    border-radius: 15px;
                    padding: 1em;
                    margin: 1em 0em;
                    max-width: 15em;
                    overflow-wrap: break-word;
                }
            }
        }
        &-input{
            position: absolute;
            border: 1px solid lightgray;
            border-radius: 20px;
            width: 90%;
            height: 2.5em;
            bottom: -3.5em;
            & form{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                & button{
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: .5em;
                    cursor: pointer;
                    & img{
                        width: 2em;
                    }
                }
                & input{
                    margin-left: .5em;
                    font-size: 1rem;
                    width: 85%;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
}