$hover: rgb(250, 250, 250);
$font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

.add{
    font-family: $font;
    align-items: center;
    width: 100%;
    display: flex;
    padding: .5em 0;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    text-align: unset;
    cursor: pointer;
    & img{
        margin-left: 1em;
        width: 3em;
        height: 3em;
        border-radius: 50%;
    }
    &-info{
        margin-left: 1em;
        &-username{
            font-weight: 500;
        }
        &-fullname{
            color: gray;
        }
    }
    &:hover{
        background-color: $hover;
    }
}