$nabvarBackground: rgb(255, 255, 255);
$background: rgb(250, 250, 250);

.navbar{
    min-width: 20em;
    background-color: $nabvarBackground;
    height: 100%;
    border-right: 1px solid lightgrey;
    position: relative;
    overflow: hidden;
    &-logo{
        padding: 2em 1.5em;
        &-big{
            height: 3em;
            &.search{
                display: none;
            }
            @media (max-width: 960px){
                display: none;
            }
        }
        &-small{
            display: none;
            height: 3em;
            &.search{
                display: block;
            }
            @media (max-width: 960px){
                display: block;
            }
        }
    }
    &-list{
        padding: 0em 1.5em;
        margin: 0;
        list-style: none;
        &-element{
            &-avatar{
                width: 1.3em;
                height: 1.3em;
                border-radius: 50%;
            }
            &-content{
                &.search{
                    display: none;
                }
                @media (max-width: 960px){
                    display: none;
                }
            }
            & a{
                color: black;
                text-decoration: none;
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 1em;
                height: 2.5em;
                display: flex;
                align-items: center;
                border-radius: 50px;
                transition: .3s;
                cursor: pointer;
                &:hover{
                    background-color: $background;
                }
                & img{
                    width: 1.3em;
                    margin: 0em .5em;
                }
                &.active{
                    font-weight: 700;
                }
            }
            &.search{
                width: 3em;
            }
            &:last-of-type{
                @media (min-height: 550px) {
                    display: none;
                }
            }
        }
    }
    &-logout{
        &-content{
            &.search{
                display: none;
            }
            @media (max-width: 960px){
                display: none;
            }
        }
        & a{
            color: black;
            text-decoration: none;
            position: absolute;
            font-size: 1.2rem;
            font-weight: 400;
            bottom: 2.5em;
            margin: 0rem 1.5rem;
            width: 17rem;
            height: 2.5em;
            display: flex;
            align-items: center;
            transition: .3s;
            border-radius: 50px;
            cursor: pointer;
            & img{
                width: 1.3em;
                margin: 0em .5em;
            }
            &:hover{
                background-color: $background;
            }
            &.search{
                width: auto;
            }
            @media (max-width: 960px){
                width: auto;
            }
        }
        @media (max-height: 550px) {
            display: none;
        }
    }
    @media (max-width: 960px){
        min-width: 5.8em;
    }
    @media (max-width: 760px){
        display: none;
    }
}